<% content_for :head do %>
  <meta content="<%= SnowmanIO::VERSION %>" name="snowman-io-version" />
  <link rel="stylesheet" href="/css/style.css">
<% end %>

<script type="text/x-handlebars">
  <h2>
    Welcome to SnowmanIO
    <small><a href="/logout">logout</a></small>
  </h2>

  {{outlet}}
</script>

<script type="text/x-handlebars" id="index">
  <p>Version: {{model.version}}</p>
</script>

<script src="/js/libs/jquery-1.10.2.js"></script>
<script src="/js/libs/handlebars-v1.3.0.js"></script>
<script src="/js/libs/ember-1.8.1.js"></script>
<script src="/js/app.js"></script>
<!-- to activate the test runner, add the "?test" query string parameter -->
<script src="/tests/runner.js"></script>
