<ol class="breadcrumb">
  <li class="active">Reports</li>
</ol>

<div class="table-responsive">
<table class="table">
  <tr>
    <th>Key</th>
    <th>At</th>
  </tr>
  {{#each report in model}}
    <tr>
      <td>{{#link-to "reports/show" report}}{{report.key}}{{/link-to}}</td>
      <td>{{report.at}}</td>
    </tr>
  {{/each}}
</table>
</div>
