<ol class="breadcrumb">
  <li>{{#link-to "apps/index"}}Apps{{/link-to}}</li>
  <li>{{#link-to "apps/show" model}}{{model.name}}{{/link-to}}</li>
  <li class="active">edit</li>
</ol>

{{partial "apps/_form"}}
