<div class="page-header">
  <h1>
    {{model.name}}
    <small>{{#link-to "apps.edit" model}}<span class="glyphicon glyphicon-pencil"></span>{{/link-to}}</small>
  </h1>
</div>

<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    {{#if model.isInitiated}}
      {{#link-to "apps.show.info" model tagName="li" href=false}}
        {{#link-to "apps.show.info" model}}Info{{/link-to}}
      {{/link-to}}
    {{/if}}

    {{#link-to "apps.show.install" model tagName="li" href=false}}
      {{#link-to "apps.show.install" model}}Install{{/link-to}}
    {{/link-to}}

    {{#if isHgEnabled}}
      {{#link-to "apps.show.add_hg_metric" model tagName="li" href=false}}
        {{#link-to "apps.show.add_hg_metric" model}}Add HG Metric{{/link-to}}
      {{/link-to}}
    {{/if}}
  </ul>
  <div>&nbsp;</div>
  {{outlet}}
</div>
