<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        {{model.name}} <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        {{#each app in apps}}
          <li>{{link-to app.name "apps.show.info" app}}</li>
        {{/each}}
      </ul>
    </li>

    {{#link-to "apps.show.info" model tagName="li" href=false}}
      {{#link-to "apps.show.info" model}}Info{{/link-to}}
    {{/link-to}}

    {{#if isHgEnabled}}
      {{#link-to "hg_metrics" model tagName="li" href=false}}
        {{#link-to "hg_metrics" model current-when=""}}HG Metrics{{/link-to}}
      {{/link-to}}
    {{/if}}

    {{#if model.isInitiated}}
      {{#link-to "apps.show.install" model tagName="li" href=false}}
        {{#link-to "apps.show.install" model}}Install{{/link-to}}
      {{/link-to}}
    {{/if}}

    {{#link-to "apps.show.edit" model tagName="li" href=false}}
      {{#link-to "apps.show.edit" model}}Settings{{/link-to}}
    {{/link-to}}
  </ul>
  <div>&nbsp;</div>
  {{outlet}}
</div>
