<ol class="breadcrumb">
  <li>{{#link-to "collectors/index"}}Collectors{{/link-to}}</li>
  <li>{{#link-to "collectors/show" model.id}}#{{model.id}}{{/link-to}}</li>
  <li class="active">edit</li>
</ol>

{{partial "collectors/form"}}
