<ol class="breadcrumb">
  <li class="active">Collectors</li>
</ol>

<p>{{#link-to "collectors/new" classNames="btn btn-primary"}}new{{/link-to}}</p>

<div class="table-responsive">
<table class="table">
  <tr>
    <th>ID</th>
    <th>Kind</th>
    <th>Source</th>
    <th>Metric Name</th>
    <th>Actions</th>
  </tr>
  {{#each collector in model}}
    <tr>
      <td>{{collector.id}}</td>
      <td>{{collector.kind}}</td>
      <td>{{collector.hgMetric}}</td>
      <td>{{collector.metricName}}</td>
      <td>
        {{#link-to "collectors/show" collector}}show{{/link-to}}
        {{#link-to "collectors/edit" collector}}edit{{/link-to}}
        {{#link-to "collectors/destroy" collector}}destroy{{/link-to}}
      </td>
    </tr>
  {{/each}}
</table>
</div>
