<ol class="breadcrumb">
  <li class="active">Collectors</li>
</ol>
<p>{{#link-to "collectors/new" classNames="btn btn-primary"}}New{{/link-to}}</p>

<div class="table-responsive">
<table class="table">
  <tr>
    <th>ID</th>
    <th>Kind</th>
    <th>HG Metric</th>
  </tr>
  {{#each collector in persisted}}
    <tr>
      <td>{{collector.id}}</td>
      <td>{{collector.kind}}</td>
      <td>{{collector.hgMetric}}</td>
    </tr>
  {{/each}}
</table>
</div>
