<ol class="breadcrumb">
  <li>{{#link-to "collectors/index"}}Collectors{{/link-to}}</li>
  <li class="active">New</li>
</ol>

<p>
  {{#link-to "collectors/new_hg" classNames="btn btn-lg btn-default"}}Hosted Graphite{{/link-to}}
  - new metric collected from Hosted Graphite.
</p>
