<ol class="breadcrumb">
  <li>{{#link-to "collectors/index"}}Collectors{{/link-to}}</li>
  <li>{{#link-to "collectors/new"}}New{{/link-to}}</li>
  <li class="active">Hosted Graphite</li>
</ol>

{{partial "collectors/form"}}
