{{#if model.checks}}
  <div class="table-response">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Check</th>
          <th>Triggered</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each check in model.checks}}
          {{render "checks/show" check}}
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}

<div class="row-fluid">
  {{render "checks/add" model}}
</div>
