<table width="100%" cellpadding="0" cellspacing="0">
  <% if @alerts.present? %>
    <tr><td class="content-block">
      <h3>Hi there, It is snowbot. I found some alerts that you might be interesting about:</h3>
    </td></tr>

    <% @alerts.values.flatten.each do |alert| %>
      <tr><td class="content-block">
        <%= alert.message %>
      </td></tr>
    <% end %>

    <tr><td class="content-block">
      You can go to <a href="#">dashboard</a> and get more details about alerts or disable them.
    </td></tr>
  <% end %>

  <tr><td class="content-block">
    <%= @report.inspect %>
  </td></tr>

  <% @report[:apps].each do |app| %>
    <tr><td class="content-block header"><%= app[:name] %></td></tr>
    <tr><td class="content-block">Desc</td></tr>
  <% end %>
</table>
