<div class="row-fluid">
  <ol class="breadcrumb">
    <li>{{link-to "Metrics" "metrics" app}}</li>
    <li>{{link-to fixedName "metrics.show" app model}}</li>
    <li class="active">edit</li>
  </ol>
</div>

{{render "metrics/form" model}}
