<ol class="breadcrumb">
  <li class="active">Metrics</li>
</ol>

<div class="table-responsive">
<table class="table">
  <tr>
    <th>Name</th>
    <th style="width:200px">Value</th>
    <th style="width:200px">Month / Day / Now</th>
  </tr>
  {{#each metric in model}}
    <tr>
      <td>{{#link-to "metrics/show" metric.id}}{{metric.name}}{{/link-to}}</td>
      <td>{{metric.lastValueHuman}}</td>
      <td>{{small-trend trend=metric.trend}}</td>
    </tr>
  {{/each}}
</table>
</div>
