<ol class="breadcrumb">
  <li>{{#link-to "metrics/index"}}Metrics{{/link-to}}</li>
  <li class="active">{{name}}</li>
</ol>

<div class="table-responsive">
<table class="table" style="width:auto">
  <tr>
    <th>Name</th>
    <td>{{name}}</td>
  </tr>

  <tr>
    <th>Last Value</th>
    <td>
      {{last_value}}
    </td>
  </tr>
</table>
</div>
