<h2>SnowmanIO <small>{{version}}</small></h2>

<p>
  <b>Base url:</b> {{model.base_url}}
</p>

<h3>Active Notifiers</h3>
<ul>
  {{#each notifier in model.notifiers}}
    <li>{{notifier}}</li>
  {{/each}}
</ul>
