{{#link-to "checks" tagName="li" current-when="check checks"}}
  <a {{bind-attr href="view.href"}}>Checks</a>
{{/link-to}}

{{#link-to "about" tagName="li"}}
  <a {{bind-attr href="view.href"}}>About</a>
{{/link-to}}
